{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in watchlist %}
        <div class="my-3">
            <div class="row">
                <div class="col-md-4"> 
                    <img class="img-fluid" src="{{ listing.image }}" alt="{{ listing.title }}">
                </div>
                <div class="col-md-8">
                    <h3> {{ listing.title }} </h3>
                    <p> <strong>Price:</strong> ${{ listing.bid }} </p>
                    <p> {{ listing.description }} </p>
                    <form action="{% url 'listing-page' number=listing.id %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="listing" value="{{ listing.id }}">
                            <input class="btn btn-primary mt-3" type="submit" name="listing-page" value="View more">
                        </form>
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing-id" value="{{ listing.id }}">
                        <input class="btn btn-primary mt-3" type="submit" name="remove-listing" value="Remove from Watchlist">
                    </form>
                </div>
            </div>
        </div>
        
    {% endfor %}

{% endblock %}